<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.logpie.android"
	android:versionCode="1"
	android:versionName="1.0" >

	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="19" />

	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<application
		android:name="com.logpie.android.components.LogpieApplication"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/LogpieBaseTheme" >
		<activity
			android:name="com.logpie.android.ui.SquareActivity"
			android:theme="@style/Theme.AppCompat.Light" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name="com.logpie.android.ui.AuthActivity"
			android:theme="@style/LogpieNoTileBarTheme" >
		</activity>
		<activity
			android:name="com.logpie.android.ui.LogpieActivityDetailActivity"
			android:theme="@style/LogpieBaseTheme" >
		</activity>
		<activity
            android:name="com.logpie.android.ui.LogpieSettingsActivity"
            android:theme="@style/LogpieBaseTheme" >
        </activity>
		
		
	</application>

</manifest>